* {
  margin: 0;
  padding: 0; }

.footer__piso {
  display: flex;
  flex-direction: row;
  background-color: #006647;
  justify-content: space-between;
  margin-left: 2em; }

.footer__piso__derechos {
  align-self: center;
  color: white;
  padding-right: 2em; }
  .footer__piso__derechos__texto {
    text-align: center; }

.d-flex {
  background-color: #009f6f; }

.textos {
  margin: 25px;
  padding-top: 15px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: medium; }

p {
  text-align: justify; }

.logoPagina {
  max-width: auto;
  height: auto;
  padding: 20px; }

.cabeza {
  background-color: black;
  padding: 1%;
  display: flex;
  justify-content: space-between; }
  .cabeza .mail {
    list-style: none;
    color: #009f6f;
    font-size: 0.8em; }
    .cabeza .mail .info {
      color: white; }

.footer {
  background-color: #009f6f;
  padding: 1em; }

.bi {
  font-size: 2em;
  margin: 10px; }

.bi-facebook {
  color: #087ceb; }

.bi-instagram {
  color: #fe1c7f; }

.bi-whatsapp {
  color: #1bd741; }

.footer__lista {
  list-style: none; }

.textoPrincipal {
  margin: 25px;
  padding-top: 15px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: medium; }

.telefonista {
  margin: 10px; }

main {
  margin: 30px; }

.col-sm {
  border-width: 2px;
  border-style: solid;
  border-color: #009f6f;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px; }

.col-sm:hover {
  background-color: #009f6f;
  transition: all 1s; }

.header .row a {
  text-decoration: none;
  color: black; }

.nav a {
  text-decoration: none;
  color: black; }

.carousel-item {
  margin: 10px;
  text-align: -webkit-center; }

.carousel-control-prev-icon {
  background-color: #009f6f; }

.carousel-control-next-icon {
  background-color: #009f6f; }

.d-block {
  width: 75%;
  height: 35em; }

.container {
  margin: 25px;
  padding-top: 15px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: medium; }
  .container .row {
    margin-top: 1em;
    margin-bottom: 3em; }

h2 {
  text-align: center;
  font-weight: bolder;
  border-bottom: 1px solid #009f6f;
  border-width: thick; }

.botonEnvio .btn1 {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-color: #006647;
  width: inherit; }

.btn1:hover {
  background-color: #009f6f;
  transition: all 1s; }

.form-control {
  border-color: #009f6f; }

@media screen and (max-width: 768px) {
  .navegador {
    display: none; }
  .mail {
    display: none; }
  .cabeza {
    justify-content: center; }
    .cabeza .row {
      justify-content: center;
      margin: auto; }
  .clearfix .col-md-6 {
    width: 95%; }
  .textos {
    margin: 0; }
  .textoPrincipal {
    margin: 0; }
  .container-fluid {
    width: inherit;
    margin: auto; }
  .d-block {
    width: 100%;
    height: 30%; }
  .carousel-item {
    margin: 0%; }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: transparent;
    filter: invert(108%); }
  .logoPagina {
    width: -webkit-fill-available; }
  .mainEnergia {
    margin: 15px; }
    .mainEnergia .container {
      margin: 0; }
  .footer__piso__derechos__texto {
    margin: 0;
    padding-left: 1em; } }

/* @media (min-width: 426px) and (max-width: 768px) { 
    .clearfix .col-md-6{
        width: 80%;
    }    
} */
@media screen and (min-width: 769px) {
  .navbar {
    display: none; } }
