* {
  margin: 0;
  padding: 0; }

.footer__piso {
  background-color: #006647;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap; }

/* .mezqui{
    justify-content: end;
} */
.d-flex {
  background-color: #009f6f; }

.textos {
  margin: 25px;
  padding-top: 15px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: medium; }

.footer {
  background-color: #009f6f; }

.logoPagina {
  max-width: auto;
  height: auto;
  padding: 20px; }

.cabeza {
  background-color: black;
  padding: 2%; }

.footer {
  background-color: #009f6f;
  padding: 6%; }

.bi {
  font-size: 2em;
  margin: 10px; }

.bi-facebook {
  color: #087ceb; }

.bi-instagram {
  color: #fe1c7f; }

.bi-whatsapp {
  color: #1bd741; }

.footer__lista {
  list-style: none; }

.textoPrincipal {
  margin: 25px;
  padding-top: 15px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: medium; }

.telefonista {
  margin: 10px; }

main {
  margin: 30px; }

.col-sm {
  border-width: 2px;
  border-style: solid;
  border-color: #009f6f;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px; }

.col-sm:hover {
  background-color: #087ceb;
  transition: all 1s; }

.row a {
  text-decoration: none;
  color: black; }

.nav a {
  text-decoration: none;
  color: black; }

.carousel-item {
  height: 28rem; }
