* {
    margin: 0;
    padding: 0; 
}

.footer__piso{
    display: flex;
    flex-direction: row;
    background-color: $color-terciario;
    justify-content: space-between;
    margin-left: 2em;
}
.footer__piso__derechos{
    align-self: center;   
    color: white;
    padding-right: 2em;
}


.d-flex{
    background-color: $color-principal;
}

.textos{
    margin: 25px;
    padding-top: 15px;
    font-family: $tipografia-texto;
    font-weight: bold;
    font-size: medium;
}