.footer{
    background-color: $color-principal;
}

.logoPagina {
    max-width: auto;
    height: auto;
    padding: 20px;
 }

 .cabeza{
    background-color: black;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    .mail{
      list-style: none;
      color: #009f6f;
      font-size: 0.8em;
      .info{
         color: white;
      }
     }
    
 }

 .footer{
    background-color: $color-principal;
    padding: 2em;
 }

 .bi{
    font-size: 2em;
    margin: 10px;
 }
  .bi-facebook{
     color: #087ceb;
  }
  .bi-instagram{
     color: #fe1c7f;
  }

  .bi-whatsapp{
    color: #1bd741;
  }
  .footer__lista{
     list-style: none;
  }

  .textoPrincipal{
     margin: 25px;
     padding-top: 15px;
     font-family: $tipografia-texto;
     font-weight: bold;
     font-size: medium;
  }

  .telefonista{
     margin: 10px;
  }
 
  main{
     margin: 30px;
 }
  .col-sm{
     border-width: 2px;
     border-style: solid;
     border-color:#009f6f;  
     padding-top: 5px;
     padding-bottom: 5px;
     border-radius: 5px;
  }
  .col-sm:hover {
    background-color: $color-principal;
    transition: all 1s; 
    
 }
 .row a{
    text-decoration: none;
    color:black;
    }
 
 .nav a{
    text-decoration: none;
    color:black;
 }

