@media screen and (max-width: 768px) {
    .navegador {
        display: none;
      }
    .cabeza{
        display: none;
    }
    .row{
        justify-content: center;
    }    
    .clearfix .col-md-6{
        width: 95%;
    }
    .textos{
        margin: 0;
    }
    .textoPrincipal{
        margin: 0;
    }
    .container-fluid{
        width: inherit;
        margin: auto;
    }
}

/* @media (min-width: 426px) and (max-width: 768px) { 
    .clearfix .col-md-6{
        width: 80%;
    }    
} */



@media screen and (min-width: 769px) {
    .navbar {
      display: none;
    }
}