@media screen and (max-width: 768px) {
    .navegador {
        display: none;
      }
    .cabeza{
        display: none;
    }
    .row{
        justify-content: center;
    }    
    .clearfix .col-md-6{
        width: 95%;
    }
    .textos{
        margin: 0;
    }
    .textoPrincipal{
        margin: 0;
    }
    .container-fluid{
        width: inherit;
        margin: auto;
    }
    .d-block{
        width: 100%;
        height: 30%;    
    }
    .carousel-item{
        margin: 0%;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        background-color: transparent;
        filter: invert(108%);
    }
    .logoPagina{
        width: -webkit-fill-available;
    }
}

/* @media (min-width: 426px) and (max-width: 768px) { 
    .clearfix .col-md-6{
        width: 80%;
    }    
} */



@media screen and (min-width: 769px) {
    .navbar {
      display: none;
    }
}