.carousel-item{
    margin: 10px;
    text-align: -webkit-center;
}
.carousel-control-prev-icon{
    background-color: $color-principal;
}
.carousel-control-next-icon{
    background-color: $color-principal;
}